.intro {
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width: 1060px) {
  .intro {
    margin-bottom: 88px;
    padding: 0 48px;
  }
}

@media screen and (max-width: 1000px) {
  .intro {
    padding: 0 24px;
  }
}

@media screen and (max-width: 600px) {
  .intro {
    margin-bottom: 64px;
    padding: 0 16px;
  }
}
